body {
  color: #FAFDFD;
  background-color: #141010;
}

a {
  color: #FAFDFD;
}

.header {
  background-color: #060505;
}

.nav-main {
  border-bottom: 2px solid #750026;
}

.btn {
  border: 2px solid #750026;
}

.btn:hover {
  background-color: #750026;
  color: #FAFDFD;
}

.btn-icon {
  background-image: url('../img/sun-regular.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}

.btn-icon:hover {
  background-image: url('../img/sun-regular.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}

.intro {
  background-image: url('../img/dark-intro.jpg');
  background-color: #141010;
  background-size: cover;

}

.border {
  border-bottom: 2px solid #FAFDFD;
}

.meet {
  border-bottom: 2px solid #FAFDFD;
}

.skills-head {
  border-top: 2px solid #FAFDFD;
}

.level {
  background-color: #BF7F94;
}

.level div {
  background-color: #8F2A4B;
}

.figma {
  color: #8F2A4B;
  font-weight: 700;
}

.footer {
  background-color: #060505;
}

.foot-decoration {
  background-color: #8F2A4B;
  color: #060505;
}

.fa-github {
  color: #8F2A4B;
}

.nav-mains {
  border-bottom: none;
}

.nav-works {
  border-bottom: 2px solid #750026;
}

.fa-arrow-up {
  border: 3px solid #750026;
  color: #750026;
  background-color: #141010;
}
