body {
  color: #593144;
  background-color: #F8F8F8;
}

a {
  color: #593144;
}

.header {
  background-color: #F2E0E9;
}

.nav-main {
  border-bottom: 2px solid #C7566F;
}

.btn {
  border: 2px solid #C7566F;
}

.btn:hover {
  background-color: #C7566F;
  color: #FAFEFF;
}

.btn-icon {
  background-image: url('../img/moon-regular.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}

.btn-icon:hover {
  background-image: url('../img/moon-hover.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}


.intro {
  background-image: url('../img/intro.jpg');
  background-position: top left;
  background-color: #F8F8F8;
}

.border {
  border-bottom: 2px solid #593144;
}

.meet {
  border-bottom: 2px solid #593144;
}

.skills-head {
  border-top: 2px solid #593144;
}


.level {
  background-color: #ffffff;
  background-color: #DFADB8;
}

.level div {
  background-color: #C7566F;
}

.figma {
  color: #C7566F;
  font-weight: 700;
}

.footer {
  background-color: #F2E0E8;
}

.foot-decoration {
  background-color: #C7566F;
  color: #F2E0E8;
}

.fa-github {
  color: #C7566F;
}

.nav-mains {
  border-bottom: none;
}

.nav-works {
  border-bottom: 2px solid #C7566F;
}

.fa-arrow-up {
  border: 3px solid #C7566F;
  color: #C7566F;
}
