html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* LANGUAGE */

.page.en .ru,
.page.ru .en {
  display: none;
}



h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* HEADER */

.header {
  height: 80px;
  font-weight: 500;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.wrapper-header img {
  height: 80px;
}

.wrap-nav {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.active {
  border-bottom: 2px solid #920F1B;
  padding-bottom: 8px;
}

.buttons {
  margin-left: 0;
  width: auto;
}

.btn {
  border: 2px solid #920F1B;
  padding: 8px;
  border-radius: 3px;
  width: 130px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
  font-weight: 500;
}

.buttons .btn:last-child {
  width: 100px;
  margin-left: 30px;
}

.btn:hover {
  background-color: #920F1B;
  transition: all 0.5s ease;
  color: #FAFEFF;
}

.btn:active {
  background-color: #6C050F;
  border-color: #6C050F;ы
}

.buttons a:first-child {
  padding-left: 20px;
}


/* INTRO */

.intro {
  min-height: 300px;
  text-align: center;
}

.intro-layout {
  text-align: center;
  margin-top: 350px;
}

.border {
  border-bottom: 2px solid #920F1B;
  width: 170px;
  margin: 0 auto;
}

.descript {
  padding-top: 10px;
  font-size: 24px;
  margin-bottom: 40px;
}

.cv {
  font-size: 20px;
  padding: 10px 25px 10px 25px;
  margin-top: 20px;
}


/* MAIN BLOCK */

.about {
  text-align: center;
  margin-bottom: 120px;
}

.about-me .border, .skills .border, .achievements .border {
  width: 93px;
}

.meet-header {
  margin-top: 260px;
}

.about-me {
  margin-top: 80px;
}

.about-me p, .skills p, .contact-information p {
  margin-top: 50px;
  margin-bottom: 80px;
}

.skills-list {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.skills-list dt {
  background-repeat: no-repeat;
  background-position: left;
}

.level {
  margin: 10px 0 16px;
  padding: 0;
  height: 20px;
  font-size: 0;
  border-radius: 3px;
  background-color: rgba(236, 131, 140, 0.6);
  margin-bottom: 25px;
}

.level div {
  height: 20px;
  border-radius: 3px;
  background-color: rgba(177, 20, 34, 0.71);
}

.achievements {
  margin-top: 80px;
}

.achieve {
  width: 530px;
  margin: 50px auto;
}

.achieve h4 {
  margin-top: 15px;
}

.achieve .fa {
  font-size: 35px;
  color: #920F1B;
}

/* CONTACT SECTION */

.contacts h2 {
  margin-top: 80px;
  text-align: center;
}

.contact-information div {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.contact-information div p {
  margin-left: 40px;
}

.contact-information div:first-child p {
  margin-bottom: 40px;
}

.contact-information div:last-child p {
  margin-top: 0;
}

.contact-information .phone div, .contact-information .mail div {
  color: #920F1B;
}

.fa-phone {
  font-size: 22px;
}



/* MY-WORK */

.my-work {
  text-align: center;
  min-height: 900px;
}


/* FOOTER */

.wrapper-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  font-weight: 500;
}

.wrapper-footer img {
  height: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.other-contacts div {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
}

.other-contacts div a {
  color: #920F1B;
}

.other-contacts div a:hover {
  color: #D44C59;
}

.other-contacts div a:active {
  color: #BC2533;
}


/* UP-button */
.fa-angle-up {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #920F1B;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  margin-left: 70px;
  margin-bottom: 80px;
  outline: none;
  color: #920F1B;
}

.shown {
  display: inline-block;
}


/* THEMES */

/* LIGHT THEME */

.light-theme {
  background: #F8F8F8 url('../img/bg-light.png') no-repeat top;
  color: #000;
}

.light-theme a {
  color: #000;
}

.light-theme .header {
  background-color: rgba(248, 248, 248, 0.6);
}

.light-theme nav a:first-child {
  color: #4B4B4B;
}

.light-theme nav a:hover {
  color: #6F282F;
}

.light-theme .btn-icon {
  background-image: url('../img/moon-regular.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}

.light-theme .btn-icon:hover {
  background-image: url('../img/moon-hover.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}

.light-theme footer {
  background-color: #F6D8DB;
}

.light-theme .nav a:first-child {
  color: #4B4B4B;
}

.light-theme .nav a:hover {
  color: #6F282F;
}

.light-theme .fa-angle-up:hover {
  background-color: #F6D8DB;
}

.work-light {
  background: #F8F8F8 url('../img/bg-small-light.png') no-repeat top;
}


/* DARK THEME */

.dark-theme {
  background: #141010 url('../img/bg-dark.png') no-repeat top;
  color: #FAFDFD;
}

.dark-theme a {
  color: #FAFDFD;
}

.dark-theme .header {
  background-color: rgba(20, 16, 16, 0.6);
}

.dark-theme nav a:first-child {
  color: #989898;
}

.dark-theme nav a:hover {
  color: #BF1B2A;
}

.dark-theme .btn-icon {
  background-image: url('../img/sun-regular.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}


.dark-theme footer {
  background-color: #060505;
}

.dark-theme .nav a:first-child {
  color: #989898;
}

.dark-theme .nav a:hover {
  color: #BF1B2A;
}

.dark-theme .fa-angle-up {
  background-color: #141010;
}

.dark-theme .fa-angle-up:hover {
  background-color: #060505;
}

.work-dark {
  background: #141010 url('../img/bg-small-dark.png') no-repeat top;
}


/* SCREEN ADAPTIVITY */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .wrapper-header {
    padding-top: 10px;
  }

  .wrapper-header img {
    height: 60px;
  }

  .wrap-nav {
    justify-content: space-evenly;
  }

  .skills-list {
    width: 90%;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
