html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper-header, nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding-left: 500px;
  padding-right: 160px;
  padding-top: 10px;
}

.nav-main {
  height: 30px;
}

.nav-work {
  margin-left: 50px;
  height: 30px
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 29px;
  text-align: center;
  border-radius: 3px;
  line-height: 15px;;
}

.btn:hover {
  transition: all 0.5s ease;
}

.btn-icon {
  padding-left: 35px;
}

.intro {
  background-repeat: no-repeat;
  height: 700px;
  background-size: 785px;
}

.wrapper-intro {
  text-align: center;
}

.name {
  padding-bottom: 25px;
  padding-top: 350px;
  font-size: 46px;
}

.border {
  width: 500px;
  margin: 0 auto;
}

.jun {
  padding-bottom: 20px;
  font-size: 23px;
}

.meet {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}

.skills-head {
  padding-top: 20px;
}

.skills {
  margin-bottom: 100px;
  width: 900px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 24px;
  font-size: 0;
  border-radius: 3px;
}

.level div {
  height: 24px;
  border-radius: 3px;
}

.footer {
  padding-top: 65px;
  padding-bottom: 70px;
  font-size: 16px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrap-link {
  display: grid;
}

.wrap-contacts {
  display: inline-flex;
  justify-content: space-between;
}

.foot-email {
  margin-left: 40px;
  margin-right: 40px
}

.foot-decoration {
  font-size: 24px;
  padding: 7px;
  border-radius: 100%;
}

.fa-phone {
  padding-bottom: 6px;
  padding: 7px 8px;
}

.fa-paper-plane {
  margin-left: 10px;
  margin-right: 10px;
}

.fa-linkedin {
  padding: 7px 8px;
}

.foot-social {
  padding-right: 40px;
  margin-top: 15px;
}

.github {
  margin-top: 13px;
}

.wrapper-work {
  width: 1300px;
  margin: 0 auto;
  height: 900px;
}

/* Adaptive things */
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .nav {
    padding-right: 50px;
    padding-left: 300px;
  }

  .intro {
    background-size: 650px;
  }

  .btn-dark {
    margin-right: 20px;
  }

  .about {
    margin-left: 25px;
  }
}


/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .nav {
    padding-right: 30px;
    padding-left: 180px;
  }

  .nav-work {
    width: 80px;
  }

  .skills {
    width: 700px;
  }

  .footer-wrapper {
    margin: 0 auto;
    display: block;
    justify-content: none;
  }

  .foot-email {
    margin-left: 10px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .nav {
    padding-right: 10px;
    padding-left: 30px;
  }

  .nav-work {
    margin-left: 20px;
    width: 80px;
  }

  .intro {
    background-size: 500px;
  }

  .skills {
    width: 500px;
  }

  .footer-wrapper {
    margin: 0 auto;
    display: block;
    font-size: 14px;
  }

  .phone {
    width: 130px;
  }

  .foot-email {
    margin-left: 10px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: auto;
  }

  .nav {
    margin: 0 auto;
  }

  .nav-work {
    margin-left: 20px;
    width: 80px;
  }

  .btn-dark {
    display: none;
  }

  .border {
    width: 100px;
  }

  .intro {
    background-size: 500px;
  }

  .skills {
    width: 90%;
  }

  .footer-wrapper {
    margin: 0 auto;
    display: block;
    font-size: 14px;
    margin-left: 30px;
  }

  .wrap-contacts {
    display: grid;
  }

  .phone {
    width: 90%;
  }

  .foot-email {
    margin-left: 0px;
  }
}

.fa-arrow-up {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  margin-left: 70px;
  margin-bottom: 80px;
  outline: none;
}

.shown {
  display: inline-block;
}
